.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #edf8ff 55%, #ffffff 100%) 0% 0% / 100% 100%
    repeat;
  min-width: 0;
  min-height: 0;
  padding: 0em 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.hectoNav:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.cmsDataLoader:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.freeBox___9ZjCv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  min-width: 0;
  padding: 8px;
}
.h2__hhT0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 557px;
  font-size: 30px;
  text-align: left;
  min-width: 0;
  padding: 20px 0px 0px;
}
.link__aV5Zi {
  height: auto;
  padding-left: 20px;
}
.leadTitle {
  font-size: 50px;
  text-align: left;
  max-width: 557px;
  width: 100%;
  margin-top: 5px;
  color: #0506cf;
  min-width: 0;
  padding: 0px 20px 20px;
}
.h2__uQ9E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 557px;
  font-size: 30px;
  text-align: left;
  min-width: 0;
  padding: 20px;
}
.freeBox__nFzxZ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 20px 80px 80px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nFzxZ {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
}
.freeBox__yjyiH {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 350px;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yjyiH {
    display: none;
  }
}
.freeBox__rei3P {
  display: flex;
  position: sticky;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  background: #ffffff;
  max-height: 150px;
  min-height: 150px;
  left: 0px;
  top: 0px;
  z-index: 1;
  min-width: 0;
  border-radius: 5px;
  padding: 8px;
}
.columns___5FPjg {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  min-height: 0;
  padding: 8px;
  border: 1px solid var(--token-7bMEPCZSz);
}
.columns___5FPjg > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns___5FPjg > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___5FPjg {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___5FPjg > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__ig8DB {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
.img__iPjnw {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  align-self: flex-end;
  object-position: 25% 25%;
  width: 74px;
  height: auto;
  border-radius: 5px;
}
.img__iPjnw > picture > img {
  object-fit: contain;
  object-position: 25% 25%;
}
.img__iPjnw > :global(.__wab_img-spacer) > img {
  object-fit: contain;
  object-position: 25% 25%;
}
.column__fyEvr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__vuUc5 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-weight: 600;
  align-self: flex-start;
}
.freeBox___4Q4D5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  margin-left: 0px;
  min-width: 0;
  padding: 8px;
}
.img__vzj6D {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  height: 376px;
  flex-shrink: 0;
}
.img__vzj6D > picture > img {
  object-fit: contain;
}
.img__vzj6D > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.blogBody {
  width: 100%;
  height: auto;
  max-width: 743px;
  font-size: 14px;
  text-align: left;
  min-width: 0;
  padding: 15px 15px 15px 23px;
}
.head:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__gFypp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__iDxxe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__cy2LC {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#eaeaea, #eaeaea),
    linear-gradient(#ffffff, #ffffff), #101111a8;
  overflow: auto;
  position: relative;
  margin-top: calc(0px + 0px) !important;
  margin-bottom: 0px;
  min-width: 0;
  padding: 1px 8px 51px;
}
.columns__vDIg {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 53px 8px 8px;
}
.columns__vDIg > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vDIg {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vDIg > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__c2Dv2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h2__jBkut {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 940px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 22px;
  color: #ffffff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  line-height: 1.1;
  letter-spacing: -1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__jBkut {
    padding: 0px;
  }
}
.text__luWnG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 33px;
  text-align: center;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__bf3O3 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox___6ZxFz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #000000;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.footerBottom {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0em 15px 25px;
  border-top: 1px solid #4c526766;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footerBottom {
    padding: 0em 15px 2em;
  }
}
.freeBox__kuGk8 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__iboFf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  align-self: center;
  min-width: 0;
  margin: 1em 0px 0px;
}
.link__tSqXf {
  position: relative;
  display: flex;
  width: 100%;
  min-width: 0;
  margin: 1em 0px 0px;
}
.text__yjLnm {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  align-self: center;
  min-width: 0;
  margin: 10px;
}
.text__lImZs {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  align-self: center;
  min-width: 0;
  margin: 10px;
}
.text__sT8LJ {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  align-self: center;
  min-width: 0;
  margin: 10px;
}
.text__jDgsh {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  align-self: center;
  min-width: 0;
  margin: 10px;
}
.freeBox__rDVw {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
