.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
  padding: 0em 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__d7459 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___1V29H {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
  background: #0091ffab;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1V29H {
    width: 100%;
    min-width: 0;
  }
}
.hectoNav:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  align-self: center;
  margin-bottom: 0px;
}
.freeBox___428R {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  background: #ffffff;
  margin-bottom: 0px;
  min-width: 0;
  padding: 50px 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___428R {
    padding-top: 87px;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
  }
}
.freeBox__jmReI {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 1280px;
  width: 100%;
  min-width: 0;
}
.freeBox__jmReI > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__jmReI > :global(.__wab_flex-container) > *,
.freeBox__jmReI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jmReI > :global(.__wab_flex-container) > picture > img,
.freeBox__jmReI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jmReI {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jmReI > :global(.__wab_flex-container) {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
    align-content: stretch;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jmReI > :global(.__wab_flex-container) > *,
  .freeBox__jmReI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__jmReI > :global(.__wab_flex-container) > picture > img,
  .freeBox__jmReI
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__kchwr {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__kchwr > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__kchwr > :global(.__wab_flex-container) > *,
.freeBox__kchwr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kchwr > :global(.__wab_flex-container) > picture > img,
.freeBox__kchwr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox___1Mhxy {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox___1Mhxy > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox___1Mhxy > :global(.__wab_flex-container) > *,
.freeBox___1Mhxy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1Mhxy > :global(.__wab_flex-container) > picture > img,
.freeBox___1Mhxy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.h1__w7G3Q {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  text-align: center;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: -1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-top: calc(46px + 20px) !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__w7G3Q {
    margin-top: calc(46px + 20px) !important;
  }
}
.text__yhLkl {
  margin-top: calc(0px + 20px) !important;
  margin-bottom: 0px;
  color: #ffffff;
  max-width: 684px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  align-self: center;
  min-width: 0;
}
.freeBox__dNt2 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 8px;
}
.freeBox__dNt2 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__dNt2 > :global(.__wab_flex-container) > *,
.freeBox__dNt2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dNt2 > :global(.__wab_flex-container) > picture > img,
.freeBox__dNt2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.button__rkiXo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.text___39Cfj {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___39Cfj {
    color: #ffff91;
  }
}
.svg__fMwZx {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__ye8Em {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.features {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
  padding: 0px;
}
.features > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .features {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: calc(0px + 0px) !important;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .features > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__eMwLr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, #edf8ff 61%, #ffffff 95%) 0% 0% / 100% 100%
      repeat,
    #ffffff;
  min-width: 0;
  padding: 4.17em 15px 5em;
}
.container4 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 0;
  max-width: 1170px;
  padding: 0px;
}
.container4 > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .container4 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container4 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.outerRow2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.row2 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 50px;
  min-width: 0;
  padding: 0px;
}
.row2 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.row2 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .row2 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .row2 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__yl74E {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px 15px;
}
.freeBox__tRZuT {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  border-bottom-width: 1px;
  border-left-width: 1px;
  min-width: 0;
  padding: 25px;
  border-style: none;
}
.freeBox__tRZuT > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__tRZuT > :global(.__wab_flex-container) > *,
.freeBox__tRZuT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tRZuT > :global(.__wab_flex-container) > picture > img,
.freeBox__tRZuT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.text__gk4Qa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  align-self: center;
  min-width: 0;
}
.h1__hpR8V {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: -1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  align-self: center;
  width: 100%;
  padding-bottom: 0px;
  margin-bottom: 20px;
  margin-top: calc(20px + 20px) !important;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__hpR8V {
    margin-right: 0px;
    width: 340px;
    margin-top: calc(20px + 20px) !important;
  }
}
.text___9Zyo1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button__scig0:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.text__lEsw {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__lEsw {
    color: #ffff91;
  }
}
.svg__c8Kwa {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__d303D {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__fzpBe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 15px;
}
.freeBox__iMcv6 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__zghL6 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 80px;
  top: 86px;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 5px;
}
.img__zghL6 > picture > img {
  object-fit: cover;
}
.img__zghL6 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__jpP6S {
  object-fit: cover;
  max-width: 100%;
  width: 492px;
  height: 326px;
  flex-shrink: 0;
}
.img__jpP6S > picture > img {
  object-fit: cover;
}
.img__jpP6S > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.container6 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 0;
  max-width: 1170px;
  padding: 0px;
}
.container6 > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.outerRow4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.row3 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 50px;
  min-width: 0;
  padding: 0px;
}
.row3 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.row3 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .row3 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .row3 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___4WDd1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px 15px;
}
.freeBox___7Si43 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  border-bottom-width: 1px;
  border-left-width: 1px;
  min-width: 0;
  padding: 25px;
  border-style: none;
}
.freeBox___7Si43 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox___7Si43 > :global(.__wab_flex-container) > *,
.freeBox___7Si43 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7Si43 > :global(.__wab_flex-container) > picture > img,
.freeBox___7Si43
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.text__xn5Nr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  align-self: center;
  min-width: 0;
}
.h1__pw6Ml {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: -1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  align-self: center;
  width: 100%;
  padding-bottom: 0px;
  margin-bottom: 20px;
  margin-top: calc(20px + 20px) !important;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__pw6Ml {
    margin-right: 0px;
    width: 340px;
    margin-top: calc(20px + 20px) !important;
  }
}
.text__mnuc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button__v0I5O:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.text__nvuCw {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__nvuCw {
    color: #ffff91;
  }
}
.svg___38Wf {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__a59J {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__cQoPa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 15px;
}
.freeBox__lr7Yy {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__l8D2 {
  object-fit: cover;
  max-width: 100%;
  width: 409px;
  height: 326px;
  flex-shrink: 0;
}
.img__l8D2 > picture > img {
  object-fit: cover;
}
.img__l8D2 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__iiZbL {
  position: absolute;
  object-fit: fill;
  max-width: 100%;
  left: 97px;
  top: 96px;
  z-index: 1;
  width: 335px;
  box-shadow: 0px 4px 16px 0px #00000033;
  flex-shrink: 0;
  border-radius: 5px;
}
.img__iiZbL > picture > img {
  object-fit: fill;
}
.img__iiZbL > :global(.__wab_img-spacer) > img {
  object-fit: fill;
}
.container7 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 0;
  max-width: 1170px;
  padding: 0px;
}
.container7 > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .container7 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container7 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.outerRow5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.row4 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 50px;
  min-width: 0;
  padding: 0px;
}
.row4 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.row4 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .row4 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .row4 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___4CrXs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px 15px;
}
.freeBox__kaBqN {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  border-bottom-width: 1px;
  border-left-width: 1px;
  min-width: 0;
  padding: 25px;
  border-style: none;
}
.freeBox__kaBqN > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__kaBqN > :global(.__wab_flex-container) > *,
.freeBox__kaBqN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kaBqN > :global(.__wab_flex-container) > picture > img,
.freeBox__kaBqN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.text__vpzVx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  align-self: center;
  min-width: 0;
  display: block;
}
.h1__ou3Xr {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: -1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  align-self: center;
  width: 100%;
  padding-bottom: 0px;
  margin-bottom: 20px;
  margin-top: calc(20px + 20px) !important;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__ou3Xr {
    margin-right: 0px;
    width: 340px;
    margin-top: calc(20px + 20px) !important;
  }
}
.text__qHoL4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button__e1Ex6:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.text__td0An {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__td0An {
    color: #ffff91;
  }
}
.svg__qx3GH {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__gLys8 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__fns8S {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 15px;
}
.img__wZdjz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 433px;
  height: 560px;
  flex-shrink: 0;
}
.img__wZdjz > picture > img {
  object-fit: cover;
}
.img__wZdjz > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img___66Vvr {
  position: absolute;
  object-fit: fill;
  max-width: 100%;
  left: 98px;
  top: 167px;
  z-index: 1;
  width: 335px;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 5px;
}
.img___66Vvr > picture > img {
  object-fit: fill;
}
.img___66Vvr > :global(.__wab_img-spacer) > img {
  object-fit: fill;
}
.container8 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 0;
  max-width: 1170px;
  padding: 0px;
}
.container8 > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .container8 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container8 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.outerRow6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.row5 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 50px;
  min-width: 0;
  padding: 0px;
}
.row5 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.row5 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .row5 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .row5 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__lroFj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px 15px;
}
.freeBox__snQk {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  border-bottom-width: 1px;
  border-left-width: 1px;
  min-width: 0;
  padding: 25px;
  border-style: none;
}
.freeBox__snQk > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__snQk > :global(.__wab_flex-container) > *,
.freeBox__snQk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__snQk > :global(.__wab_flex-container) > picture > img,
.freeBox__snQk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.text__eH2L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  align-self: center;
  min-width: 0;
  display: block;
}
.h1__dtnsb {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: -1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  align-self: center;
  width: 100%;
  padding-bottom: 0px;
  margin-bottom: 20px;
  margin-top: calc(20px + 20px) !important;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__dtnsb {
    margin-right: 0px;
    width: 340px;
    margin-top: calc(20px + 20px) !important;
  }
}
.text___2Tcl6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button__uL0:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.text__vTwHy {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__vTwHy {
    color: #ffff91;
  }
}
.svg__obDUj {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__q0Db {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__pLbyT {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 15px;
}
.freeBox__yG1G {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__dhlCm {
  object-fit: cover;
  max-width: 100%;
  width: 458px;
  height: 491px;
  flex-shrink: 0;
}
.img__dhlCm > picture > img {
  object-fit: cover;
}
.img__dhlCm > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__hbY2I {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #00000033;
  left: 27px;
  top: 155px;
  width: 391px;
  flex-shrink: 0;
  border-radius: 5px;
}
.img__hbY2I > picture > img {
  object-fit: cover;
}
.img__hbY2I > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__sobIs {
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  min-width: 0;
  display: none;
  padding: 0px;
}
.columns__sobIs > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__sobIs {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__sobIs > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.outer {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 4.17em 15px 3.33em;
}
@media (min-width: 0px) and (max-width: 768px) {
  .outer {
    padding: 4.17em 15px 3.33em;
  }
}
.container {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 945px;
  padding: 0px;
}
.container > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 9 / 12);
}
.container > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .container {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__wsgFa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h2__qEqAi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-size: 48px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.1;
  letter-spacing: -1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__qEqAi {
    font-size: 32px;
    margin: 0px 0px 10px;
  }
}
.text__wbfO0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.column__l76KO {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.button__dntwf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-end;
}
.text__gwbc {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.freeBox__yqRrq {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#eaeaea, #eaeaea),
    linear-gradient(#ffffff, #ffffff), #101111a8;
  overflow: auto;
  position: relative;
  margin-top: calc(0px + 0px) !important;
  margin-bottom: 0px;
  min-width: 0;
  padding: 1px 8px 51px;
}
.columns__ofoQc {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 53px 8px 8px;
}
.columns__ofoQc > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ofoQc {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ofoQc > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__le5Mh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h2__fwSfr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 940px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 14px;
  color: #ffffff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  line-height: 1.1;
  letter-spacing: -1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__fwSfr {
    padding: 0px;
  }
}
.text___7NjMl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 33px;
  text-align: center;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.button__cVzlA:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: center;
}
.text___2QNcf {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___2QNcf {
    color: #ffff91;
  }
}
.svg__kiShA {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__y6Kta {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__raxz6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #000000;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.footerBottom {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0em 15px 25px;
  border-top: 1px solid #4c526766;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footerBottom {
    padding: 0em 15px 2em;
  }
}
.freeBox__g1Xiz {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__qrbAc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  color: #ffffff;
  font-size: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  align-self: center;
  min-width: 0;
  margin: 1em 0px 0px;
}
.link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 100%;
  min-width: 0;
  margin: 1em 0px 0px;
}
.text__v1Ld4 {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #ffffff;
  font-size: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 10px;
}
.text__d0Tw {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #ffffff;
  font-size: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 10px;
}
.text__fcBy4 {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #ffffff;
  font-size: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 10px;
}
.text__xuOej {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #ffffff;
  font-size: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 10px;
}
